[Desktop Entry]
Type=Application
Name=Dashboard
Comment=Defender Automotive Dashboard
Exec=defender-dashboard
Icon=automotive-icon
Terminal=false
Categories=Automotive;Qt;
StartupNotify=false